body {
    color: #222;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
}



.material-icons.md-24 {
    font-size: 24px;
    color: #5f6368;
    opacity: 1;
}
  
.profile {
    border-radius: 50%;  
    width: 32px;
    height: auto;
}


/* NAVBAR TOP */
.navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.navbar-item {
    list-style: none;
    margin-right: 1rem;
}

.navbar-item a {
    text-decoration: none;
    color: #222;
}

.navbar-item a:hover {
    text-decoration:underline;
}

.hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
}

.hover:hover {
    background-color: #f0f0f0;
}


.navbar-item:first-child {
    margin-left: 2rem;
}

.navbar-item:nth-child(2){
    margin-right: auto;
}

.navbar-item:nth-child(4){
    margin-right: 0.5rem;
}

.navbar-item:nth-child(5){
    margin-right: 0.5rem;
}


/* MAIN CONTENT */
main {
    padding: 100px; /* temporary padding, might need to change */
}

  


/* FOOTER NAV */
.footer {
    position: fixed;
    background-color: #706e6eee;
    /* background-color: #f2f2f2; */
    /* this is the correct color */
}
