body {
    color: #222;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
}

.navbar {
    position: fixed;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* maybe change this and look into what it does again */
    height: 100%;
}

/* top navbar */
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

a {
    display: block;
    padding: 50px;
  }

  .right {
     float: right; 
  }  */
/* ------------------------------- */

main {
    padding: 100px; /* temporary padding, might need to change */
}

  .material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    color: #5f6368;
    opacity: 1;
    
  }
.material-icons.md-24 {
    font-size: 24px;
}
  .profile {
      border-radius: 50%;
  }


  /* bottom navbar */
  .footer {
      position: fixed;
      background-color: #706e6eee;
      /* background-color: #f2f2f2; */
      /* this is the correct color */
  }
