body {
    background-color: #ffffff;
}


/* top navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

a {
    display: block;
    padding: 50px;
  }

  .right {
     float: right; 
  } 

  .material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    color: #5f6368;
    opacity: 1;
    
  }
.material-icons.md-24 {
    font-size: 24px;
}
  .profile {
      border-radius: 50%;
  }


  /* bottom navbar */
  .footer {
      position: fixed;
      background-color: #706e6eee;
      /* background-color: #f2f2f2; */
      /* this is the correct color */
  }
